<div id="admin-scrollable-content">
    <admin-toolbar [isButtonsVisible]="true" [link]="'/admin/categories'"></admin-toolbar>

    <admin-filter [properties]="filterProperties" [term]="searchTerm" 
        (searchEvent)="onSearch($event)"></admin-filter>

    <div class="card m-3">
        <div class="card-body">
            <div class="custom-control custom-switch mb-2">
                <input type="checkbox" class="custom-control-input" id="customSwitch1"
                    [checked]="categoryActions" (change)="onChangeActions()">
                <label class="custom-control-label" for="customSwitch1"
                    tooltip="При выборе этой опции, все действия по созданию, редактированию и удалению будут производиться над категориями">
                    Действия над категориями
                </label>
            </div>
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let sortingProperty of sortingProperties">
                            <table-head [property]="sortingProperty" [sortPropName]="sortPropertyName" (sortingEvent)="onSort($event)">
                            </table-head>
                        </th>

                        <th style="width: 6rem;">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="adminEntities != null || adminEntities?.length > 0">
                        <tr *ngFor="let category of adminEntities">
                            <td *ngIf="!categoryActions">
                                {{category.id}}
                            </td>
                            <td *ngIf="categoryActions">
                                {{category.parentCategoryID}}
                            </td>
                            <td>{{category.parentCategoryName}}</td>
                            <td>{{category.name}}</td>
                            <td>
                                <div class="d-inline-flex">
                                    <button type="button" class="btn btn-sm btn-warning text-white ml-1"
                                            [routerLink]="['/admin/categories', 'edit', category.id]"
                                            tooltip="Редактировать">
                                        <i class='fas fa-pencil-alt fa-lg'></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger ml-1"
                                        tooltip="Удалить">
                                        <i class='fas fa-trash-alt fa-lg'></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="adminEntities == null">
                        <tr>
                            <td class="text-center" colspan="3">Нет данных</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <app-pagination [pagination]="pagination" [pageNumbers]="pageNumbers"
                            (pageNumberEvent)="onChangePage($event)"></app-pagination>
        </div>
    </div>
</div>
