<!-- <div class="container-fluid px-0">
    <div id="store-main-content">
        <div id="store-scrollable-content">
            @if (Book != null)
            {
            <div class="card m-3">
                <div class="card-body">
                    <div class="row no-gutters">
                        <div class="col-lg-auto">
                            <img src="/dist/img/@(Book.BookCover).jpg" alt="Обложка книги" width="420" height="600" />
                        </div>
                        <div class="col-lg">
                            <h3>@Book.Title</h3>
                            <div class="row">
                                <div class="col-lg">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Автор(ы)</td>
                                                <td>@Book.Authors</td>
                                            </tr>
                                            <tr>
                                                <td>Количество страниц</td>
                                                <td>@Book.PageCount</td>
                                            </tr>
                                            <tr>
                                                <td>Год выпуска</td>
                                                <td>@Book.Year</td>
                                            </tr>
                                            <tr>
                                                <td>Категория</td>
                                                <td>@Book.CategoryName</td>
                                            </tr>

                                            <tr>
                                                <td>Издательство</td>
                                                <td>@Book.PublisherName</td>
                                            </tr>
                                            <tr>
                                                <td>Язык издания</td>
                                                <td>@Book.Language</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-auto">
                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <h3 class="card-title">@Book.Price.ToString("c")</h3>
                                            <h6 class="card-subtitle text-center text-muted">В наличии</h6>
                                        </div>
                                        <div class="card-footer text-center">
                                            <a class="card-link" href="#">В корзину</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg">
                                    <button type="button" class="btn btn-info" onclick="@OnReturnToStore">
                                        К списку книг
                                    </button>
                                </div>
                            </div>

                            <div class="row mt-lg-5">
                                <div class="col-lg">
                                    @Book.Description
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            }
        </div>
    </div>
</div> -->