<ng-container *ngIf="books != null">
    <ng-container *ngFor="let row of rows">
        <div class="row no-gutters">
            <ng-container *ngFor="let col of cols">
                <div class="col" *ngIf="isColEmpty(row, col) == false">
                    <book-card [book]="books.entities[getBookIndex(row, col)]"></book-card>
                </div>
                <div class="col" *ngIf="isColEmpty(row, col)"></div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<div *ngIf="books != null" class="px-3 py-2 bg-light">
    <!-- <Pagination GoToPageAsync="@OnGoToPageAsync" PagedResponse="@Books" /> -->
</div>
