<div class="sidebar-header">
    <h5><a style="cursor: pointer" routerLink="/">Личный кабинет</a></h5>
</div>

<ul *ngIf="categories != null" class="list-unstyled components">
    <li>
        <a href="#" (click)="filterByCategory(0); false">Все категории</a>
    </li>

    <li *ngFor="let category of categories">
        <ng-container *ngIf="category.childrenCategories?.length == 0">
            <a [ngClass]="getCategoryClass(category.id)" href="#" 
            (click)="filterByCategory(category.id); false">{{category.name}}</a>
        </ng-container>

        <ng-container *ngIf="category.childrenCategories?.length > 0">
            <a [ngClass]="'dropdown-toggle' + getCategoryClass(category.id)"
               data-toggle="collapse"
               role="button"
               aria-expanded="false"
               [attr.aria-controls]="getControlId(category.id)"
               (click)="filterByCategory(category.id)">{{category.name}}</a>

            <ul class="collapse list-unstyled" [id]="getControlId(category.id)">
                <li *ngFor="let subcategory of category.childrenCategories">
                    <a [ngClass]="getSubCategoryClass(subcategory.id)" href="#"
                        (click)="filterBySubcategory(category.id, subcategory.id); false">
                        {{subcategory.name}}
                    </a>
                </li>
            </ul>
        </ng-container>
    </li>
</ul>
