<!-- <FormModalTemplate Title="@Title" IsEditMode="@IsEditMode" HideForm="@HideFormAsync" Submit="@SubmitAsync">
    <ModalBody>
        @if (Entity != null)
        {
        <form novalidate>
            <div class="form-group">
                <label>Название книги</label>
                <input class="@(SetFormCotrolClass(nameof(Entity.Title)))" bind="@Entity.Title" />
                <ValidationErrorsView Errors="@Validation?.Errors" Property="@nameof(Book.Title)" />
            </div>
            <div class="form-group">
                <label>Авторы</label>
                <input class="@(SetFormCotrolClass(nameof(Entity.Authors)))" bind="@Entity.Authors" />
                <ValidationErrorsView Errors="@Validation?.Errors" Property="@nameof(Book.Authors)" />
            </div>
            <div class="form-group">
                <label>Дата публикации</label>
                <input class="@(SetFormCotrolClass(nameof(Entity.Year)))" bind="@Entity.Year" />
                <ValidationErrorsView Errors="@Validation?.Errors" Property="@nameof(Book.Year)" />
            </div>
            <div class="form-group">
                <label>Язык</label>
                <input class="@(SetFormCotrolClass(nameof(Entity.Language)))" bind="@Entity.Language" />
                <ValidationErrorsView Errors="@Validation?.Errors" Property="@nameof(Book.Language)" />
            </div>
            <div class="form-group">
                <label>Количество сраниц</label>
                <input class="@(SetFormCotrolClass(nameof(Entity.PageCount)))" bind="@Entity.PageCount" />
                <ValidationErrorsView Errors="@Validation?.Errors" Property="@nameof(Book.PageCount)" />
            </div>
            <div class="form-group">
                <label>Цена</label>
                <input class="@(SetFormCotrolClass(nameof(Entity.Price)))" bind="@Entity.Price" />
                <ValidationErrorsView Errors="@Validation?.Errors" Property="@nameof(Book.Price)" />
            </div>

            <BookFormDropdownsView Book="@Entity" OnPublisherChoose="@SetBookPublisher"
                OnCategoryChoose="@SetBookCategory" />

            <div class="form-group">
                <label>Описание</label>
                <textarea class="@(SetFormCotrolClass(nameof(Entity.Description)))" rows="10"
                    bind="@Entity.Description"></textarea>
                <ValidationErrorsView Errors="@Validation?.Errors" Property="@nameof(Book.Description)" />
            </div>
            <div class="form-group">
                <label>Обложка книги</label>
                <input class="form-control" bind="@Entity.BookCover" />
            </div>
        </form>
        }
    </ModalBody>
</FormModalTemplate>

<div class="form-group">
    <label>Категория</label>
    <select class="form-control" value="@CategoryId" onchange="@((e) => ChooseCategory(e))">
        @if (Categories == null)
        {
        <option>Создайте категорию</option>
        }
        else
        {
        <option value="0">Выберите категорию</option>

        @foreach (Category category in Categories)
        {
        <option value="@category.Id">@category.Name</option>
        }
        }
    </select>
</div>
<div class="form-group">
    <label>Подкатегория</label>
    <select class="form-control" value="@SubcategoryId" onchange="@((e) => ChooseSubcategory(e))">
        @if (Subcategories == null)
        {
        <option>Создайте подкатегорию</option>
        }
        else
        {
        <option value="0">Выберите подкатегорию</option>

        @foreach (Category subcategory in Subcategories)
        {
        <option value="@subcategory.Id">@subcategory.Name</option>
        }
        }
    </select>
</div>
<div class="form-group">
    <label>Издательство</label>
    <select class="form-control" value="@PublisherId" onchange="@((e) => ChoosePublisher(e))">
        @if (Publishers == null)
        {
        <option>Создайте издателя</option>
        }
        else
        {
        <option value="0">Выберите издательство</option>

        @foreach (Publisher publisher in Publishers)
        {
        <option value="@publisher.Id">@publisher.Name</option>
        }
        }
    </select>
</div> -->