<!-- @if (Book != null)
{
<h3>@Book.Title</h3>
<table class="table">
    <tbody>
        <tr>
            <td>Автор(ы)</td>
            <td>@Book.Authors</td>
        </tr>
        <tr>
            <td>Количество страниц</td>
            <td>@Book.PageCount</td>
        </tr>
        <tr>
            <td>Год выпуска</td>
            <td>@Book.Year</td>
        </tr>
        <tr>
            <td>Категория</td>
            <td>@Book.CategoryName</td>
        </tr>

        <tr>
            <td>Издательство</td>
            <td>@Book.PublisherName</td>
        </tr>
        <tr>
            <td>Язык издания</td>
            <td>@Book.Language</td>
        </tr>
    </tbody>
</table>

<div class="mt-lg-5">
    @Book.Description
</div>
} -->