<div class="container-fluid px-0">
    <div id="store-content">
        <bs-empty-toolbar></bs-empty-toolbar>
        <div id="store-scrollable-content">
            <div class="card m-2">
                <div class="card-body">
                    <h2 class="text-center">Подтверждение заказа</h2>

                    <table *ngIf="order.orderConfirmation" class="table m-2">
                        <tr>
                            <th>Заказ</th>
                            <td>{{order.orderConfirmation.orderId}}</td>
                        </tr>
                        <tr>
                            <th>Цена</th>
                            <td>{{order.orderConfirmation.amount}}</td>
                        </tr>
                        <tr>
                            <th>Код платежа</th>
                            <td>{{order.orderConfirmation.authCode}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
