<div class="sidebar-header">
    <h5><a style="cursor: pointer" [routerLink]="pageLink">Личный кабинет</a></h5>
</div>

<ul *ngIf="categories != null" class="list-unstyled components">
    <li>
        <a href="#" (click)="onFilterByCategory(0); false">Все категории</a>
    </li>

    <li *ngFor="let category of categories">
        <ng-container *ngIf="category.childrenCategories?.length == 0">
            <a [ngClass]="getCategoryClass(category.id)" href="#" 
            (click)="onFilterByCategory(category.id); false">{{category.name}}</a>
        </ng-container>

        <ng-container *ngIf="category.childrenCategories?.length > 0">
            <a [ngClass]="'dropdown-toggle' + getCategoryClass(category.id)"
               href="#"
               [attr.aria-expanded]="!isCollapsed"
               [attr.aria-controls]="getControlId(category.id)"
               (click)="onFilterByCategory(category.id); isCollapsed = !isCollapsed; false">
                {{category.name}}
            </a>

            <ul class="collapse list-unstyled" [id]="getControlId(category.id)" [collapse]="isCollapsed" [isAnimated]="true">
                <li *ngFor="let subcategory of category.childrenCategories">
                    <a [ngClass]="getSubCategoryClass(subcategory.id)"
                        (click)="onFilterBySubcategory(category.id, subcategory.id); false">
                        {{subcategory.name}}
                    </a>
                </li>
            </ul>
        </ng-container>
    </li>
</ul>
